<!--
  ~ Copyright (c) 2017, Raphael "rGunti" Guntersweiler
  ~ Licensed under MIT
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  ~ SOFTWARE.
  ~
  -->

<% data.moment.locale(locale); %>

<h1><%= data.post.title %></h1>
<div class="row">
    <div class="col-xl-10 col-md-8 col-sm-12" style="padding-top: 5px">
        <%= __('page.post.properties.postedby') %>
        <a href="/u/<%= data.author.handle %>">@<%= data.author.handle %></a>
        <%= data.moment(data.post.createdAt).fromNow() %>
    </div>
    <div class="col-xl-2 col-md-4 col-sm-12 text-right">
        <div class="btn-group" role="group">
            <a href="#" class="btn btn-post-like ladda-button btn-secondary <%= (isLoggedIn ? (data.vote ? 'btn-success' : '') : 'disabled') %>"
               data-id="<%= data.post.postID %>"
               data-style="expand-left"
               title="<%= __('action.post.upvote') %>">
                <span class="ladda-label">
                    <span class="post-vote-count"><%= data.post.voteCount %></span>
                    <span class="fa fa-fw fa-thumbs-o-up"></span>
                </span>
            </a>

            <div class="btn-group" role="group">
                <button id="MorePostActionsDropdown" type="button"
                        class="btn btn-secondary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="MorePostActionsDropdown">
                    <a class="dropdown-item <%= (isLoggedIn ? '' : 'disabled') %>" href="/p/<%= data.post.postID %>/report">
                        <span class="fa fa-fw fa-flag"></span>
                        <%= __('action.post.report') %>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center post-figure" style="margin-top: 10px">
    <img class="img-fluid rounded" src="<%= data.post.source %>">
</div>
