<!--
  ~ Copyright (c) 2017, Raphael "rGunti" Guntersweiler
  ~ Licensed under MIT
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  ~ SOFTWARE.
  ~
  -->

<h2><%= __('page.post_list_by_user.caption', data.byUser) %></h2>
<div class="row post-list">
    <% for (var i in data.posts) {
        var post = data.posts[i];
    %>
    <div class="col-12 col-md-6 post-list-item">
        <div class="row">
            <div class="col-12 post-header-data">
                <a class="post-list-post-title"
                   href="/p/<%= post.postID %>">
                    <%= post.title %>
                </a>
            </div>
            <div class="col-12 post-list-image-container">
                <a class="post-list-image" href="/p/<%= post.postID %>">
                    <img class="img-fluid rounded" src="<%= post.source %>">
                </a>
            </div>
            <div class="col-12 text-right post-list-post-votes">
                <button class="btn btn-post-like ladda-button btn-secondary <%= (isLoggedIn ? (data.votes[post.postID] ? 'btn-success' : '') : 'disabled') %>"
                        data-id="<%= post.postID %>"
                        data-style="slide-left"
                        title="<%= __('action.post.upvote') %>">
                    <span class="ladda-label">
                        <span class="post-vote-count"><%= post.voteCount %></span>
                        <span class="fa fa-fw fa-thumbs-o-up"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <% } %>
</div>

<!-- Paging -->
<div class="col-12">
    <nav>
        <ul class="pagination justify-content-center">
            <!-- Paging Arrows Start -->
            <li class="page-item <%= (data.page <= 1) ? 'disabled' : '' %>">
                <a class="page-link" href="<%= '/u/' + data.byUser.handle + '/posts/1' %>" tabindex="-1">
                    <span class="fa fa-chevron-left"></span>
                    <span class="fa fa-chevron-left"></span>
                </a>
            </li>
            <li class="page-item <%= (data.page <= 1) ? 'disabled' : '' %>">
                <a class="page-link" href="<%= '/u/' + data.byUser.handle + '/posts/' + (data.page - 1) %>" tabindex="-1">
                    <span class="fa fa-fw fa-chevron-left"></span>
                </a>
            </li>

            <!-- Page Numbers -->
            <% for (var p = 1; p <= data.maxPages; p++) { %>
            <li class="page-item <%= (data.page == p ? 'disabled' : '') %>">
                <a class="page-link" href="<%= '/u/' + data.byUser.handle + '/posts/' + p %>">
                    <%= p %>
                </a>
            </li>
            <% } %>

            <!-- Paging Arrows End -->
            <li class="page-item <%= (data.page >= Math.ceil(data.byUser.postCount / data.postPageCount)) ? 'disabled' : '' %>">
                <a class="page-link" href="<%= '/u/' + data.byUser.handle + '/posts/' + (data.page + 1) %>">
                    <span class="fa fa-fw fa-chevron-right"></span>
                </a>
            </li>
            <li class="page-item <%= (data.page >= data.maxPages) ? 'disabled' : '' %>">
                <a class="page-link" href="<%= '/u/' + data.byUser.handle + '/posts/' + (data.maxPages) %>" tabindex="-1">
                    <span class="fa fa-chevron-right"></span>
                    <span class="fa fa-chevron-right"></span>
                </a>
            </li>
        </ul>
    </nav>
</div>
